<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TITLE</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap" rel="stylesheet">

        <!-- <link type="text/css" rel="stylesheet" href="/styles/style.css" /> -->

        <script type="module" src="/scripts/default.js"></script>
        <!-- <script type="module" src="/scripts/script.js"></script> -->
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

        <!-- <link rel="icon" href="/images/icon.ico" type="image/x-icon"> -->
    </head>
    <body>
        <header>
            <nav>
                <a class="logo" href="/"><img src="/images/logo-small.png" alt="JAMAC logo" width="70"/></a>

                <button type="button" class="menu-button" id="menu-button">
                    <img 
                    id="menu-image"
                    alt="Menu button"
                    title="Open menu"
                    src="/images/menu.svg"
                    />
                </button>
                
                <ul class="nav-ul" id="nav-ul">
                        <li><a href="/fall-2024/">Fall 2024</a></li>
                        <li><a href="/spring-2025">Spring 2025</a></li>
                        <li><a href="/previous-competitions">Previous Competitions</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <!-- Content here -->
        </main>
        <footer>
            <p>
                &copy; 2024 Albemarle Math Club. Use of problems is allowed under the <a target="_blank" rel="noopener" href="https://opensource.org/license/mit">MIT License</a>.
            </p>
        </footer>
    </body>
</html>
