@import url(/styles/default.css) layer(default);

/* iframe */

iframe {
    margin-top: auto;
    width: min(450px, calc(90vw - 5rem));
    height: 70vh;
}

/* Table */

.table-wrapper {
    margin: 25px auto;
    display: inline-block;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    width: min(450px, calc(90vw - 5rem));
    text-align: left;
}

thead tr {
    background-color: rgb(88, 88, 183);
    color: #ffffff;
}

th {
    padding: 20px 15px;
    font-size: medium;
}

td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid rgb(88, 88, 183);
}

/* Winners Formatting */

.individual-winners, .team-winners {
    display: flex;
    flex-wrap: wrap;
    gap: max(10px, 2vw);
    padding-bottom: 20px
}

.winners-wrapper {
    padding: 15px 30px;
    min-width: 150px;
    max-width: 250px;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.individual-winners .winners-wrapper {
    background-color: rgb(88, 88, 183);
}

.team-winners .winners-wrapper {
    background-color: rgb(211, 79, 79);
}

.winners-wrapper ul {
    padding-block: 2vh;
}

.winners-wrapper ol {
    list-style-position: inside;
    padding-left: 0;
}

.winners-wrapper ol li {
    padding-block: 2px;
}