/* General styling */

html {
    font-family: 'Heebo', "Trebuchet MS", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

main {
    padding-inline: calc(2rem + 5vw);
    padding-bottom: 2em;
}

a:link {
    color: rgb(88, 88, 183);
}

a:visited {
    color: purple;
}

*:focus {
    border-radius: 2px;
    outline: 2px solid white;
}

main *:focus {
    outline: 2px solid black;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: red;
    font-weight: bold;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

/* Header (Nav bar, logo, menu button) */

header {
    z-index: 100;
}

nav {
    min-height: 4rem;
}

nav *:focus {
    outline: 2px solid white;
    border-radius: 0.5rem;
}

.nav-ul li {
    margin-block: 0.5em;
    padding: 1em;
    font-size: calc(1em + 0.2vw);
    list-style: none;
}

.logo {
    margin: auto 2vw;
}

.logo img {
    display: block;
}

.nav-ul li a {
    padding: 1em;
    outline-color: transparent;
}

.nav-ul li a:link, .nav-ul li a:visited {
    text-decoration: none;
    color: white;
}

.nav-ul li a:focus {
    outline: 2px solid white;
    border-radius: 0.5rem;
}

.nav-ul li a:hover {
    background-color: rgb(173, 67, 67);
    border-radius: 0.5rem;
    color: rgb(243, 204, 204);
}

.nav-ul li a:active {
    color: rgb(196, 129, 129);
    font-weight: bold;
}

@media screen and (max-width: 680px) {

    nav {
        display: grid;
        grid-template-areas:
            "logo menu-button"
            "nav nav";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(5rem, max-content);
    } 
    
    .logo {
        grid-area: logo;
        display: inline-block;
        width: fit-content;
    }

    .nav-ul {
        display: none;
        grid-area: nav;
        margin: 0;
        padding: 0;
    }

    .nav-ul li {
        padding-left: 10px;
    }

    .menu-button img {
        display: block;
    }

    .menu-button {
        padding: 0.5rem;
        grid-area: menu-button;
        justify-self: right;
        display: inline-block;
        margin: auto 5vw;

        filter: contrast(200);
        background-color: transparent;
        border: none;
        border-radius: 0.4rem;

        cursor: pointer;
    }

    .menu-button:hover {
        background-color: rgb(173, 67, 67);
        filter: none;
    }

    .menu-button:active {
        background-color: rgb(142, 55, 55);
        filter: brightness(0.7);
    }
}

@media screen and (min-width: 681px) {

    nav {
        display: flex;
        justify-items: start;
    }

    .nav-ul {
        display: flex;
        justify-items: start;
        margin: 0;
        padding: 0;
    }

    .nav-ul li {
        display: inline-block;
    }

    .menu-button {
        display: none;
    }
}

header {
    background: rgb(215, 105, 105);
    position: sticky;
    top: 0;
    margin: -0.5rem 0 0;
    width: 100vw;
    max-width: 100%;
}

/* Footer */

footer {
    background-color: rgb(84, 84, 84);
    color: white;
    padding-block: 1em;
    padding-inline: 2em;
}

footer a {
    color: white !important;
}
