@import url(/styles/default.css) layer(default);

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

/* Competition styling and transitions */

.year-wrapper {
    background-color: rgb(88, 88, 183);
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    padding: 0 max(15px, 1.2vw) 0;
    margin-block: 20px;
    width: min(400px, calc(90vw - 4rem));
}

.year-wrapper *:focus {
    outline: 2px solid white;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.competition-wrapper {
    color: white;
}

.competition-wrapper a {
    color: white;
}

.year-wrapper div:last-of-type {
    visibility: hidden;
    max-height: 0;
    margin: 0;
    padding: 0;

    overflow: hidden;

    transition:
        max-height 1s cubic-bezier(0.37, 0, 0.63, 1),
        visibility 1s cubic-bezier(0.37, 0, 0.63, 1),
        padding 1s cubic-bezier(0.37, 0, 0.63, 1);
}

.year-wrapper .showing:last-of-type {
    visibility: visible;
    max-height: 800px;
    padding: 0 0 20px 0;
}

.drop-button {
    cursor: pointer;

    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    height: fit-content;
    width: fit-content;

    & img {
        filter: contrast(200);
        display: block;
    }
}

.drop-button:hover {
    background-color: rgba(0, 0, 0, 0.24);

    & img {
        filter: none;
    }
}

.drop-button:active {
    background-color: rgba(0, 0, 0, 0.4);
    
    & img {
        filter: brightness(0.4);
    }
}