/* General styling */

html {
    font-family: 'Heebo', "Trebuchet MS", sans-serif;
}

body {
    margin: 0;
}

main {
    padding-inline: calc(2rem + 5vw);
}

a:link {
    color: rgb(88, 88, 183);
}

a:visited {
    color: purple;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: red;
    font-weight: bold;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

/* Header (Nav bar, logo, menu button) */

header {
    z-index: 100;
}

nav {
    padding-left: 2vw;
    min-height: 4rem;
}

nav *:focus {
    outline: 2px solid white;
    border-radius: 0.5rem;
}

.nav-ul li {
    margin-block: 0.5em;
    padding: 1em;
    font-size: calc(0.7em + 0.5vw);
    list-style: none;
}

.logo {
    height: 0;
}

.logo img {
    display: inline-block;
}

.nav-ul li a {
    padding: 1em;
    outline-color: transparent;
}

.nav-ul li a:link, .nav-ul li a:visited {
    text-decoration: none;
    color: white;
}

.nav-ul li a:focus {
    outline: 2px solid white;
    border-radius: 0.5rem;
}

.nav-ul li a:hover {
    background-color: rgb(173, 67, 67);
    border-radius: 0.5rem;
    color: rgb(243, 204, 204);
}

.nav-ul li a:active {
    color: rgb(196, 129, 129);
    font-weight: bold;
}

@media screen and (max-width: 680px) {

    nav {
        display: grid;
        grid-template-areas:
            "logo menu-button"
            "nav nav";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(5rem, max-content);
    } 
    
    .logo {
        grid-area: logo;
        display: inline-block;
        width: fit-content;
    }

    .nav-ul {
        display: none;
        grid-area: nav;
        margin: 0;
        padding: 0;
    }

    .nav-ul li {
        padding-left: 0;
    }

    .menu-button img {
        display: block;
    }

    .menu-button {
        padding: 0.5rem;
        grid-area: menu-button;
        justify-self: right;
        display: inline-block;
        margin: auto 2rem;

        filter: contrast(200);
        background-color: transparent;
        border: none;
        border-radius: 0.4rem;

        cursor: pointer;
    }

    .menu-button:hover {
        background-color: rgb(173, 67, 67);
        filter: none;
    }

    .menu-button:active {
        background-color: rgb(142, 55, 55);
        filter: brightness(0.7);
    }
}

@media screen and (min-width: 681px) {

    nav {
        display: flex;
        justify-items: start;
    }

    .nav-ul {
        display: flex;
        justify-items: start;
        margin: 0;
        padding: 0;
    }

    .nav-ul li {
        display: inline-block;
    }

    .menu-button {
        display: none;
    }
}

header {
    background: rgb(215, 105, 105);
    position: sticky;
    top: 0;
    margin: -0.5rem 0 0;
    width: 100vw;
    max-width: 100%;
}

/* Main Banner */

.main-banner {
    width: 100vw;
    height: 30vh;
    text-align: center;
    max-width: 100%;
    margin-bottom: 10vh;
    display: grid;
}

.main-banner h1 {
    font-size: calc(4.5rem + 2vw);
    margin: auto;
}

/* Grid */

.individual-events-grid {
    padding-block: 1vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.individual-events-grid div {
    flex: 200px;
    padding: 0 max(20px, 1.5vw);
    background-color: rgb(88, 88, 183);
    color: white;
    border-radius: 1rem;
    box-shadow: none;
    width: auto;

    transition:
        background-color 0.2s cubic-bezier(0.61, 1, 0.88, 1),
        box-shadow 0.2s cubic-bezier(0.61, 1, 0.88, 1),
        flex 1.5s cubic-bezier(0.37, 0, 0.63, 1);
}

.individual-events-grid div:hover {
    cursor: pointer;
    background-color: rgb(52, 52, 109);
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.482);
}

.team-events-grid {
    padding-block: 1vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

.team-events-grid div {
    flex: 200px;
    padding: 0 max(20px, 1.5vw);
    background-color: rgb(211, 79, 79);
    color: white;
    border-radius: 1rem;

    transition:
        background-color 0.2s cubic-bezier(0.61, 1, 0.88, 1),
        box-shadow 0.2s cubic-bezier(0.61, 1, 0.88, 1),
        flex 1.5s cubic-bezier(0.37, 0, 0.63, 1);
}

.team-events-grid div:hover {
    cursor: pointer;
    background-color: rgb(132, 53, 53);
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.482);
}

/* Event styling/transitioning */

.event {
    position: relative;
}

.event div,
.event div:hover {
    visibility: hidden;
    background-color: transparent;
    max-height: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;

    transition:
        max-height 1.5s cubic-bezier(0.37, 0, 0.63, 1),
        visibility 1.5s cubic-bezier(0.37, 0, 0.63, 1);
}

.event .showing,
.event .showing:hover {
    cursor: auto;
    visibility: visible;
    max-height: 1000px;
}

.contract-button {
    position: absolute;
    right: 1em;
    top: 1em;
    visibility: hidden;

    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    height: fit-content;

    & img {
        filter: contrast(200);
        display: block;
    }

    transition: visibility 1.5s cubic-bezier(0.37, 0, 0.63, 1);
}

.contract-button:focus {
    outline: 2px solid white;
}

.contract-button:hover {
    background-color: rgba(0, 0, 0, 0.24);
    cursor: pointer;

    & img {
        filter: contrast(1.2) hue-rotate(230deg) brightness(0.7);
    }
}

.contract-button:active {
    background-color: rgba(0, 0, 0, 0.35);

    & img {
        filter: contrast(1.2) hue-rotate(230deg) brightness(0.4);
    }
}
